<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.ActionLink("Renteo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            @if (Request.IsAuthenticated && User.IsInRole("CanManageVehicles"))
            {
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Lista wynajmów", "Index", "Rentals", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Baza Klientów", "Index", "Customers", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Park pojazdów", "Index", "Vehicles", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Nowy wynajem", "New", "Rentals", new { area = "" }, new { @class = "nav-link" })</li>
                    <hr />
                </ul>
            }
            else if (Request.IsAuthenticated)
            {
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Moje wynajmy", "Index", "Rentals", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Park pojazdów", "Index", "Vehicles", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Nowy wynajem", "New", "Rentals", new { area = "" }, new { @class = "nav-link" })</li>
                    <hr />
                </ul>
            }
            else
            { 
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("O mnie", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Kontakt", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <hr />
                </ul>
            }
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

