@model Renteo.Models.Vehicle 
 @{
    var name = Model.Make + " " + Model.Model;
    ViewBag.Title = name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <h2>@name</h2>
 <ul>
    <li>Make: @Model.Make</li>
    <li>Model: @Model.Model</li>
    <li>Produced in: @Model.ProductionYear</li>
    <li>Fuel type: @Model.FuelType</li>
    <li>Body type: @Model.VehicleType.BodyType</li>
    <li>Capacity: @Model.VehicleType.PeopleCapacity people</li>
</ul>
