@model Renteo.Models.Vehicle 
 @{
    var name = Model.Make + " " + Model.Model;
    ViewBag.Title = name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <h2>@name</h2>
 <ul>
    <li>Marka: @Model.Make</li>
    <li>Model: @Model.Model</li>
    <li>Rok produkcji: @Model.ProductionYear</li>
    <li>Rodzaj paliwa: @Model.FuelType</li>
    <li>Nadwozie: @Model.VehicleType.BodyType</li>
    <li>Ilość osób: @Model.VehicleType.PeopleCapacity</li>
    <li>Czynsz dzienny: @Model.RentalStake PLN</li>
</ul>
