@model Renteo.ViewModels.VehicleFormViewModel

@{
    var title = (Model.Id == null) ? "Dodaj pojazd" : "Edytuj pojazd";
    ViewBag.Title = @title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@title</h2>

@using (@Html.BeginForm("Save", "Vehicles"))
{
    @Html.ValidationSummary(true, "Proszę poprawić poniższe błędy.")
    <div class="form-group">
        @Html.LabelFor(m => m.Make)
        @Html.TextBoxFor(m => m.Make, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Make)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Model)
        @Html.TextBoxFor(m => m.Model, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Model)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProductionYear)
        @Html.TextBoxFor(m => m.ProductionYear, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProductionYear)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FuelType)
        @Html.TextBoxFor(m => m.FuelType, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FuelType)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RentalStake)
        @Html.TextBoxFor(m => m.RentalStake, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RentalStake)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.VehicleTypeId)
        @Html.DropDownListFor(m => m.VehicleTypeId, new SelectList(Model.VehicleTypes, "Id", "BodyType"), "Wybierz typ pojazdu", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.VehicleTypeId)
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Zapisz</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}